html,body,nav, .footer {
    background: url(img/Web\ 1920\ –\ 1@2x.png) no-repeat center fixed;
    background-size: cover;
}


html, body {
    height: 100%;
    width: 100%;
}
.navbar {
    padding: .8rem;
}
.navbar-nav li {
    padding-right: 20px;
}
.nav-link {
    font-size: 1.1em !important;
}

.contact:hover {
    cursor: pointer;
}

#home {
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
}

.landing-text {
    padding-top: 150px;
}

.landing-text {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.landing-text h1 {
    font-size: 250%;
    font-weight: 700;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
.landing-text h4 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #d6d6d6;
}

.landing-text img {
    width: 250px;
    height: 250px;
}

.landing-text .btn-group {
    padding-bottom: 150px;
}

.btn a {
    text-decoration: none;
    color: black;
}


#about {
    margin-top: 100px;
    margin-bottom: 100px;
}

.programmer {
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);  
}

.about h2 {
    text-shadow: 2px 2px black;
}

.about p {
    font-size: 25px;
}

#portfolio {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
    padding-top: 50px;
}

.padding {
    padding-bottom: 2rem;
}

.social a {
    padding: 3rem;
}

.fa-twitter {
    color: rgb(0, 191, 255);
    font-size: 40px;
}

.fa-instagram {
    color: white;
    font-size: 40px;
}

.fa-linkedin {
    color: white;
    font-size: 40px;
}


@media (min-width: 0px) and (max-width: 991.98px) {
    .full-size {
        width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    #about img {
        width: 100%;
    }
    
    .about {
    margin-top: 70px;
    }
}